<div id="compass">
  <div id="rose">
    <div id="arrow">
    </div>
  </div>
</div>
<div id="deets">
  <table>
    <tr>
      <th>Station</th>
      <th>Distance</th>
      <th>Free racks</th>
    </tr>
    <tr>
      <td class='stationname'></td>
      <td class='dist'></td>
      <td class='free'></td>
    </tr>
  </table>
</div>
