<div id="about">
  <a href="#" class='close'>x</a>
  <h1>Columba</h1>
  <p>Columba always points to the nearest bike hire rack with empty spaces. It'll tell you how far away it is.</p>
  <p>Columba updates its data every minute, and updates the compass needle in real time. Currently, it's only been tested on iOS so far.</p>
  <p>Data courtesy of TFL. <a href='https://github.com/infovore/borisbike-compass'>Code is all at Github</a>; pull requests welcome. By <a href="http://tomarmitage.com">Tom Armitage</a>.</p>
</div>
